html {
  scroll-behavior: smooth;
}


/* fonts  */
@font-face {
  font-family: gilroy-extrabold;
  src: url(../src/assets/fonts/gilroy/Gilroy-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: gilroy-bold;
  src: url(../src/assets/fonts/gilroy/Gilroy-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: gilroy-semibold;
  src: url(../src/assets/fonts/gilroy/Gilroy-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: gilroy-medium;
  src: url(../src/assets/fonts/gilroy/Gilroy-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: gilroy-regular;
  src: url(../src/assets/fonts/gilroy/Gilroy-Regular.ttf);
  font-weight: 400;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

/* components  */
@layer components {
  .body {
    @apply bg-primary-blue-950 font-medium text-white font-gilroy-medium text-xl leading-normal overflow-x-hidden;
  }

  .container {
    @apply max-w-1320 w-full mx-auto px-5;
  }

  .container-1220 {
    @apply container max-w-[1220px];
  }




  /* contents */
  .content {
    content: '';
  }




  /* flex */
  .flex-center-between {
    @apply flex items-center justify-between;
  }

  .flex-center {
    @apply flex items-center;
  }

  .flex-start {
    @apply flex items-start;
  }

  .flex-end-between {
    @apply flex items-end justify-between;
  }

  .flex-end {
    @apply flex items-end;
  }





  /* font styles */
  /* regular */
  .text-regular-24 {
    @apply font-gilroy-regular text-2xl font-normal leading-normal;
  }

  .text-regular-22 {
    @apply font-gilroy-regular text-22 font-normal leading-normal;
  }

  .text-regular-20 {
    @apply font-gilroy-regular text-xl font-normal leading-normal;
  }

  .text-regular-18 {
    @apply font-gilroy-regular text-lg font-normal leading-normal;
  }

  /* semibold */
  .text-semibold-22 {
    @apply text-22 font-gilroy-semibold font-semibold leading-normal;
  }

  /* bold  */
  .text-bold-30 {
    @apply text-30 font-gilroy-bold font-bold;
  }

  .text-bold-22 {
    @apply text-regular-22 font-gilroy-bold font-bold;
  }




  /* blur effect for shapes */
  .blur-effect {
    @apply absolute -z-1 blur-80 bg-primary-blue-600 opacity-40 rounded-full;
    width: 354px;
    height: 354px;
  }



  /* restangle shape */
  .restangle-shape {
    @apply flex-center flex-col justify-center before:block before:content-[''] before:w-[85px] before:h-1.5 before:bg-white before:rounded-sm;
  }






  /* home page */
  .header nav ul li a {
    @apply flex-center flex-col relative after:content after:w-0 after:bg-white after:h-0.5 after:rounded-full after:size-transition;
  }

  .header nav ul li .active {
    @apply font-gilroy-extrabold font-extrabold after:w-[89.1%];
  }







  .percentage-list {
    @apply flex-center py-7 rounded-20 border border-white px-14;
  }

  .percentage-list .percentage {
    @apply flex-center font-feature-off text-45;
  }

  .percentage-list .percentage:not(:last-child)::after {
    @apply block content-[''] bg-white rounded-full mx-14;
    width: 3px;
    height: 52px;
  }

  /* about the authors */
  .about-the-authors .item {
    @apply w-330 h-440 rounded-15 relative;
  }

  .about-the-authors .item .item-content {
    @apply flex justify-end flex-col w-full h-full space-y-0.75 font-feature-off text-semibold-22 px-8 py-5 bg-linear-gradient_black-10 rounded-15;
  }

  .about-the-authors .item .play-btn {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-20 h-20 rounded-full;
  }

  .text-orange {
    @apply text-secondary-orange-500 font-gilroy-regular font-normal;
  }

  /* home page about us section */
  .home-page-about-us-section {
    @apply pb-75 relative;
  }

  .home-page-about-us-section .list {
    @apply grid grid-cols-3 gap-14;
  }

  .home-page-about-us-section .list-item {
    @apply flex-center relative w-full flex-col text-center pt-32 pb-11 px-7 mt-76 bg-linear-turquoise rounded-15;
  }

  .home-page-about-us-section .list .image {
    @apply absolute -top-67 rounded-15;
  }

  .home-page-about-us-section .list .title {
    @apply tracking-5.5 font-gilroy-medium text-22 mb-6;
  }

  .home-page-about-us-section .list .description {
    @apply font-gilroy-regular font-normal tracking-4.5 text-lg leading-normal;
  }

  /* faq section */
  .faq-section .list {
    @apply grid w-full;
    gap: 50px;
  }

  .faq-section .list .list-item {
    @apply flex-center rounded-25 border py-8 px-6 pr-9 max-w-max;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
  }

  .faq-section .list-item:nth-child(odd) {
    @apply ml-auto;
  }

  .faq-section .list .item-number-wrapper {
    @apply flex-center relative after:h-8 after:bg-white after:rounded-full after:w-0.5 after:mx-5;
  }

  .faq-section .list .item-number {
    @apply font-krona-one font-normal;
    font-size: 46px;
    letter-spacing: 0.69px;
  }

  .faq-section .list .item-number-wrapper .done-icon {
    @apply absolute w-8 h-8 bottom-3 left-6;
  }

  .faq-section .list-item .list-item-text {
    @apply font-gilroy-regular font-normal;
    max-width: 638px;
    letter-spacing: 0.3px;
    height: 41px;
  }


  /* footer */
  .footer {
    @apply text-15 font-gilroy-medium font-medium font-feature-off tracking-0.75 pb-9;
  }

  .footer-top-content-links-list {
    @apply flex-center gap-70;
  }

  .footer .footer-top-content {
    @apply py-5 border-b-2 border-white;
  }

  .footer .light-text {
    @apply opacity-40;
  }




  /* about page */
  /* about page main section paragraph */
  .about-page-main-section .paragraph-normal {
    @apply font-gilroy-regular font-normal text-2xl leading-normal mb-12;
  }
}



/* base */
@layer base {
  h1 {
    @apply text-80 font-gilroy-semibold font-semibold tracking-7.6;
    line-height: 97%;
  }

  h2 {
    @apply text-38 tracking-9.5 font-gilroy-bold font-bold;
  }
}





/* utilities */
@layer utilities {
  .font-montserrat {
    font-family: 'montserrat', sans-serif;
  }



  .font-feature-off {
    font-feature-settings: 'clig' off, 'liga' off;
  }



  /* transition */
  .size-transition {
    transition: width 0.2s linear, height 0.2s linear;
  }
}






/* other */
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}