/* fonts  */
@font-face {
  font-family: gilroy-bold;
  src: url(../src/assets/fonts/gilroy/Gilroy-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: gilroy-semibold;
  src: url(../src/assets/fonts/gilroy/Gilroy-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: gilroy-medium;
  src: url(../src/assets/fonts/gilroy/Gilroy-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: gilroy-regular;
  src: url(../src/assets/fonts/gilroy/Gilroy-Regular.ttf);
  font-weight: 400;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

/* components  */
@layer components {
  .body {
    @apply bg-primary-blue-950 font-medium text-white font-gilroy-medium text-xl leading-normal;
  }

  .container {
    @apply max-w-1320 w-full mx-auto px-5;
  }

  .container-1220 {
    @apply container max-w-[1220px];
  }



  /* flex */
  .flex-center-between {
    @apply flex items-center justify-between;
  }

  .flex-center {
    @apply flex items-center;
  }

  .flex-start {
    @apply flex items-start;
  }

  .flex-end-between {
    @apply flex items-end justify-between;
  }

  .flex-end {
    @apply flex items-end;
  }





  /* font styles */
  /* regular */
  .text-regular-24 {
    @apply font-gilroy-regular text-2xl font-normal leading-normal;
  }

  .text-regular-22 {
    @apply font-gilroy-regular text-22 font-normal leading-normal;
  }

  .text-regular-20 {
    @apply font-gilroy-regular text-xl font-normal leading-normal;
  }

  .text-regular-18 {
    @apply font-gilroy-regular text-lg font-normal leading-normal;
  }

  /* semibold */
  .text-semibold-22 {
    @apply text-regular-22 font-gilroy-semibold font-semibold;
  }

  /* bold  */
  .text-bold-30 {
    @apply text-30 font-gilroy-bold font-bold;
  }

  .text-bold-22 {
    @apply text-regular-22 font-gilroy-bold font-bold;
  }




  /* blur effect for shapes */
  .blur-effect {
    @apply absolute -z-1 blur-80 bg-primary-blue-600 opacity-40 rounded-full;
  }



  /* restangle shape */
  .restangle-shape {
    @apply flex-center flex-col justify-center before:block before:content-[''] before:w-[85px] before:h-1.5 before:bg-white before:rounded-sm;
  }






  /* home page */
  .percentage-list {
    @apply flex-center py-7 rounded-20 border border-white px-14;
  }

  .percentage-list .percentage {
    @apply flex-center font-feature-off text-45;
  }

  .percentage-list .percentage:not(:last-child)::after {
    @apply block content-[''] bg-white rounded-full mx-14;
    width: 3px;
    height: 52px;
  }

  .about-the-authors-swiper .swiper-slide {
    @apply flex-end w-330 h-440 rounded-15 px-8 py-5;
  }

  .about-the-authors-swiper .swiper-slide .swiper-slide-content {
    @apply space-y-0.75 font-feature-off font-gilroy-semibold font-semibold text-22 z-2;
  }

  .about-the-authors-swiper .swiper-slide .overlay {
    @apply absolute w-full h-full z-0 top-0 right-0 bg-linear-gradient_black-10;
  }

  .about-the-authors-swiper .swiper-slide .description {
    @apply text-secondary-orange-500 font-gilroy-regular font-normal;
  }
}




/* base */
@layer base {
  h1 {
    @apply text-80 font-gilroy-semibold font-semibold tracking-7.6;
    line-height: 97%;
  }

  h2 {
    @apply text-38 tracking-9.5 font-gilroy-bold font-bold;
  }
}





/* utilities */
@layer utilities {
  .font-montserrat {
    font-family: 'montserrat', sans-serif;
  }

  .font-feature-off {
    font-feature-settings: 'clig' off, 'liga' off;
  }
}






/* other */
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}