/* fonts  */
@font-face {
  font-family: gilroy-bold;
  src: url(../src/assets/fonts/gilroy/Gilroy-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: gilroy-semibold;
  src: url(../src/assets/fonts/gilroy/Gilroy-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: gilroy-medium;
  src: url(../src/assets/fonts/gilroy/Gilroy-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: gilroy-regular;
  src: url(../src/assets/fonts/gilroy/Gilroy-Regular.ttf);
  font-weight: 400;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

/* components  */
@layer components {
  .body {
    @apply bg-primary-blue-950 font-medium text-white font-gilroy-medium text-xl leading-normal;
  }

  .container {
    @apply max-w-1320 w-full mx-auto px-5;
  }



  /* flex */
  .flex-center-between {
    @apply flex items-center justify-between;
  }

  .flex-center {
    @apply flex items-center;
  }

  .flex-start {
    @apply flex items-start;
  }

  .flex-end-between {
    @apply flex items-end justify-between;
  }

  .flex-end {
    @apply flex items-end;
  }





  /* font styles */
  /* regular */
  .text-regular-24 {
    @apply font-gilroy-regular text-2xl font-normal leading-normal;
  }

  .text-regular-22 {
    @apply font-gilroy-regular text-22 font-normal leading-normal;
  }

  .text-regular-20 {
    @apply font-gilroy-regular text-xl font-normal leading-normal;
  }

  .text-regular-18 {
    @apply font-gilroy-regular text-lg font-normal leading-normal;
  }

  /* semibold */
  .text-semibold-22 {
    @apply text-regular-22 font-gilroy-semibold font-semibold;
  }

  /* bold  */
  .text-bold-30 {
    @apply text-30 font-gilroy-bold font-bold;
  }

  .text-bold-22 {
    @apply text-regular-22 font-gilroy-bold font-bold;
  }




  /* blur effect for shapes */
  .blur-effect {
    @apply absolute -z-1 blur-80 bg-primary-blue-600 opacity-40 rounded-full;
  }



  /* restangle shape */
  .restangle-shape {
    @apply before:block before:content-[''] before:w-[85px] before:h-1.5 before:bg-white before:rounded-sm;
  }
}


/* base */
@layer base {
  h1 {
    @apply text-80 font-gilroy-semibold font-semibold tracking-7.6;
    line-height: 97%;
  }

  h2 {
    @apply text-38 tracking-9.5 font-gilroy-bold font-bold;
  }
}


/* other */
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}